doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Cloud Everything

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Cloud Everything
        h3 For Fun And Profit

      section
        h2 Cloud Services
        br
        ul.threeWay
          li
            h3 Software
            abbr SaaS
          li
            h3 Platform
            abbr PaaS
          li
            h3 Infrastructure
            abbr IaaS
            
      section
        img(src='images/pizza.jpg',style='width:100%')            

      section
        h2 SaaS
        ul
          li Code hosting
          li Development environments
          li Continuous integration
          li Quality analysis
          li Testing tools
          li Monitoring/Analytics

      section
        h2 Code Hosting
        ul.bullet.in-place-transition
          li
            h3 Github
            img(src='images/github.png').screenshot

          li
            h3 Bitbucket
            img(src='images/bitbucket.png').screenshot

      section
        h2 IDEs
        ul.bullet.in-place-transition
          li
            h3 Cloud9
            img(src='images/cloud9.png').screenshot
          li
            h3 Nitrous.IO
            img(src='images/nitrous.png').screenshot
          li
            h3 CodeAnywhere
            img(src='images/codeanywhere.png').screenshot

      section
        h2 Continuous Integration
        ul.bullet.in-place-transition
          li
            h3 Cloudbees
            img(src='images/cloudbees.png').screenshot

          li
            h3 Travis CI
            img(src='images/travis.png').screenshot

          li
            h3 Wercker
            img(src='images/wercker.png').screenshot

          li
            h3 Snap CI
            img(src='images/snap.png').screenshot

          li
            h3 AppVeyor
            img(src='images/appveyor.png').screenshot

      section
        h2 Quality Analysis
        ul.bullet.in-place-transition
          li
            h3 Code Climate
            img(src='images/codeclimate.png').screenshot
          li
            h3 Coveralls
            img(src='images/coveralls.png').screenshot
          li
            h3 Gemnasium
            img(src='images/gemnasium.png').screenshot

      section
        h2 Testing Tools
        ul.bullet.in-place-transition
          li
            h3 SauceLabs
            img(src='images/saucelabs.png').screenshot
          li
            h3 Browserstack
            img(src='images/browserstack.png').screenshot
          li
            h3 BlazeMeter
            img(src='images/blazemeter.png').screenshot

      section
        h2 Monitoring
        ul.bullet.in-place-transition
          li
            h3 New Relic
            img(src='images/newrelic.png').screenshot
          li
            h3 Google Analytics
            img(src='images/googleanalytics.png').screenshot
          li
            h3 Clicky
            img(src='images/clicky.png').screenshot

      section
        h2 PaaS
        ul
          li Deployment environment
          li Datastore hosting
          li Runtime components

      section
        h2 Deployment environment
        ul.bullet.in-place-transition
          li
            h3 Heroku
            pre
              code.language-javascript.
                $ heroku apps:create example
                Creating example... done, stack is cedar
                http://example.herokuapp.com/ | git@heroku.com:example.git
                Git remote heroku added
              
                $ git push heroku master
                Initializing repository, done.
                updating 'refs/heads/master'
                ...
          li
            h3 Azure
            pre
              code.language-markup.
                $ azure create site example --git
                info:   Executing command site create
                info:   Using location southcentraluswebspace
                info:   Executing `git init`
                info:   Creating default .gitignore file
                info:   Creating a new web site
                info:   Created web site at  example.azurewebsites.net
                info:   Initializing repository
                info:   Repository initialized
                info:   Executing `git remote add azure
                        https://username@example.azurewebsites.net/example.git`
                info:   site create command OK              
                $ git push azure master
                ...
          li
            h3 Google App Engine
            pre
              code.language-javascript.
                /path/to/google_appengine/appcfg.py --oauth2 update goplus
          li
            h3 Github Pages
            pre
              code.language-javascript.
                git push origin gh-pages
            
      section
        h2 Database hosting
        ul.bullet.in-place-transition
          li
            h3 Heroku
            pre
              code.language-javascript.
                $ heroku addons:add heroku-postgresql:dev
                Adding heroku-postgresql:dev to sushi... done, v69 (free)
                Attached as HEROKU_POSTGRESQL_RED
                Database has been created and is available
                
                $ heroku config | grep HEROKU_POSTGRESQL
                HEROKU_POSTGRESQL_RED_URL:
                postgres://user312:passkja@ec2- [...] .amazonaws.com:6212/db9823
          li
            h3 Azure
            img(src='images/azuredata.png').screenshot
          li
            h3 Cloudant
            pre
              code.language-javascript.
                $ curl -X PUT -u myUsername \
                  https://myUsername.cloudant.com/myDatabase
                
                { "ok": true }
                
                $ curl -X POST \
                  -H 'Content-Type: application/json' \
                  -d '{"a_string": "String!", "someData": true}' \
                  -u myUsername https://myUsername.cloudant.com/myDatabase
                  
                { "ok": true }
          li
            h3 MongoLab
            pre
              code.language-javascript.
                % mongo ds012345.mongolab.com:56789/dbname -u dbuser -p dbpassword
                
                > db.someThings.find()
                { "_id" : 1, "name" : "a" }
                { "_id" : 2, "type" : "b" }
                { "_id" : 3, "type" : "c" }
          li
            h3 GrapheneDB
            img(src='images/graphene.png').screenshot
          li
            h3 AWS
            ul
              li
                h5 DynamoDB
              li
                h5 Relational Database Service (RDS)
              li
                h5 Redshift
              li
                h5 Kinesis
              li
                h5 ElastiCache
      section
        h2 Runtime Components
        ul.bullet.in-place-transition
          li
            h3 Twilio            
            pre
              code.language-javascript.
                $ curl -X POST \
                  https://api.twilio.com/2010-04-01/Accounts/AC3094732a/Calls.json \
                  -d "Url=http://demo.twilio.com/docs/voice.xml" \
                  -d "To=+445432123123" -d "From=+441234123123" \
                  -u 'AC3094732a:{AuthToken}'
            h4 demo.twilio.com/docs/voice.xml:
            pre
              code.language-markup.
                &lt;Response&gt;
                &lt;Say voice="alice"&gt;Thanks for trying our documentation. Enjoy!&lt;/Say&gt;
                &lt;Play&gt;http://demo.twilio.com/docs/classic.mp3&lt;/Play&gt;
                &lt;/Response&gt;
          li
            h3 Stripe
            pre
              code.language-markup.
                &lt;form action="" method="POST"&gt;
                  &lt;script
                    src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                    data-amount="2000"
                    data-name="Demo Site"
                    data-description="2 widgets ($20.00)"
                    data-image="/128x128.png"&gt;
                  &lt;/script&gt;
                &lt;/form&gt;
                
            <form action="" method="POST">
            |  <script
            |    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            |    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
            |    data-amount="2000"
            |    data-name="Demo Site"
            |    data-description="2 widgets ($20.00)"
            |    data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
            |  </script>
            </form>
            
          li
            h3 Pusher
            pre
              code.language-javascript.
                var pusher = new Pusher('YOUR_APP_KEY');
                var channel = pusher.subscribe('my-channel');                
                channel.bind('my-event', function(data) {
                  alert('An event was triggered with message: ' + data.message);
                });
                
            pre
              code.language-javascript.
                var Pusher = require('pusher');
                var pusher = new Pusher({ appId: 'APP_ID',
                                          key: 'APP_KEY',
                                          secret: 'APP_SECRET' });
                pusher.trigger('my-channel', 'my-event', {"message": "hello world"});
      section
        h2 IaaS
        ul.bullet
          li
            h3 Amazon web services
          li
            h5 Elastic Compute 2 (EC2)
          li
            h5 Elastic Block Store (EBS)
          li
            h5 Simple Storage Service (S3)
          li
            h5 Route 53
          li
            h5 CloudFront
          li
            h5 Elastic MapReduce
          li
            h5 CloudFormation

      section
        h2 IaaS
        ul.bullet.in-place-transition
          li
            h3 Azure
          li
            h3 Google Compute Engine
          li
            h3 DigitalOcean

      section
        h2 Useful Stacks

      section
        h2 For open-source code
        ul
          li Github
          li Travis
          li Coveralls/Gemnasium
          li Saucelabs
          li Github pages (for docs)

      section
        h2 For open-source web apps
        ul
          li.lowlight Github
          li Wercker
          li.lowlight Coveralls/Gemnasium
          li Heroku
          li New Relic
          li Google Analytics
          li.lowlight Saucelabs

      section
        h2 Commercial Web Apps
        ul
          li.lowlight Github
          li Snap CI
          li.lowlight Coveralls/Gemnasium/Codeclimate 
          li.lowlight Heroku
          li.lowlight New Relic
          li Clicky
          li BlazeMeter

      section
        h2 Anything .net
        ul
          li
            span.lowlight Github 
            | (public or private)
          li AppVeyor
          li Azure
          li Azure
          li Azure
          li Azure 
          li Azure

      section
        h2 Anything out of the ordinary
        ul
          li AWS
          li AWS
          li AWS
          li AWS
          li AWS

      section
        h1 Questions?

    script(src='build/build.js')
